/*inherited styling*/
body{
  margin: 0;
  background-color: #eeeeee;
  font-family: 'Noto Serif', serif;
}

/*navbar styling*/
.siteName{
  text-align: center;
  width: 60%;
}
.topPage{
  display: flex;
  flex-flow: row;
}
.siteName h1{
  padding-bottom: 0;
  padding-top: 0;
  padding-right: 50px;
  font-size: 30px;
}

.navlist{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding-right: 50px;
}
.navbar{
  width: 40%;
}
.navbar a{
  font-size: 20px;
  font-family: fantasy;
  color: #006699;
}
/*page title styling*/
.titleBox{
  margin:0;
  background-color: #006699;
  width: 100%;
  height: 100px;
}
.pageTitle {
  padding-top: 30px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #FFFFFF;
  margin: 0;
}
/*arrange teacher profile boxes*/
.teacherBoxes{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/*style teacher profile boxes*/
.teacherProfile{
  text-align: center;
  width: 350px;
  height: 280px;
  background-color: #FFFFFF;
  border-color: #006699;
  border-style: solid;
  margin: 15px;
  padding: 0px;
}
/*top teacher section*/
.topSection{
  height: 60%;
  width:350px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.topRight{
  height: 100%;
  width: 250px;
  margin: 0;
}
/*bottom sections*/
.bottomSection {
  width: 350px;
  height: 40%;
  border-top-color: #006699;
  border-top-style: solid;
  margin: 0;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

}
.bottomSectionLeft{
  width: 50%;
  height: 100%;
  border-right-color: #006699;
  border-right-style: solid;
  text-align: center;
}

.bottomSectionRight{
  width: 50%;
  text-align: center;
}

/*style teacher photos*/
.teacherPhoto{
  width: 100px;
  border-radius: 50%;
  border-color: #006699;
  border-style: solid;
  margin: 30px;
}
/* style texts */
.topRight h2{
  color: #006699;
  padding-bottom: 20px;
  font-size: 20px;
}

.bottomSection h3{
  color: #006699;
  padding-bottom: 15px;
  margin: 0;
}
.bottomSection h4{
  margin: 0;
}
